.ticket {
    display: inline-grid;
    grid-template-columns: repeat(9, 25px);
    grid-template-rows: repeat(3, 25px);
    border-radius: 5px;
    overflow: hidden;
}

.square {
    border: 1px solid grey;
}

.square .covered {
    opacity: 0.8;
    text-decoration: line-through;
}




